.message {
    padding-top: 24px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 70px;

}

.imageAndText img {
    margin-top: 12px;
    width: 48px;
    height: 48px;
}

.text {

    height: 60px;
    background-color: #0066CC;
    border-radius: 20px 20px 0 20px;
    padding: 7px 7px 8px 10px;
    margin-right: 10px;
    position: relative;
}

.text:after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 462px;
    bottom: 0; /* Положение треугольника */
    border: 8px solid transparent;
    border-bottom: 8px solid #0066CC;
    border-left: 8px solid #0066CC;
}

.name {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: right;
    padding-right: 25px;
    color: white;
    padding-bottom: 2px;
}

.messageText {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: right;
    padding-right: 25px;
    color: white;
}

.time {
    display: flex;
    padding-right: 0;
    justify-content: right;
    margin: 4px 82px 0 0;
    font-weight: 600;
    font-size: 10px;
}